* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto", sans-serif;
    background-color: rgb(134, 189, 252);
}

.header {
    min-height: 100px;
    background-color: rgb(136, 136, 255);
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-style: italic;
    font-weight: 700;
}

.header * {
    margin: 0 10px;
}

.logoSlogan {
    display: flex;
    align-items: center;
}

.logo {
    width: 60px;
    height: 100%;
    border-radius: 30%;
}

.authorization {
    display: flex;
}

.displayNone {
    display: none;
}

.loginForm,
.registrationForm {
    position: absolute;
    border: 2px solid green;
    background-color: rgb(176, 201, 255);
    bottom: 0;
    height: 25%;
    min-height: 100px;
    width: 25%;
    min-width: 100px;
    left: 0;
    margin: auto;
    top: 0;
    right: 0;
    text-align: center;
}

.wrapper {
    display: flex;
}

.leftSide {
    padding: 5px;
    min-width: 200px;
    /* min-height: 400px; */
    background-color: rgb(134, 189, 252);
    width: 300px;
    min-width: 300px;
}

.leftSide > p {
    text-align: center;
    font-weight: bold;
}

li {
    background-color: rgb(136, 136, 255);
    margin: 5px 20px 5px 10px;
    padding: 5px;
    border-radius: 7px;
    list-style-type: inherit;
    list-style-position: inside;
    cursor: pointer;
}

.leftSide li:hover {
    font-weight: 700;
}

/* .rightSide {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 10px;
    background-color: rgb(134, 189, 252);
}  */

.subMenu {
    background-color: rgb(136, 136, 255);
    display: flex;
    flex-direction: row;
    margin: 5px 5px 20px 5px;
}

.subMenu span > span:hover {
    font-weight: 700;
}
.subMenu span {
    margin-left: 10px;
}

.mainBlock {
    background-color: rgb(134, 189, 252);
    /* flex-grow: 1; */
    margin: 5px;
}

.mainBlock h1 {
    margin: 5px 5px 20px 5px;
}

.divImg {
    width: 150px;
    height: 150px;
}
.forImage img,
.mainBlock img {
    object-fit: contain;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.footer {
    min-height: 60px;
    background-color: rgb(136, 136, 255);
    display: flex;
    align-items: center;
    padding: 0 20px;
}

.footer * {
    margin: 0 10px;
}

.forImage {
    width: 80%;
    height: 80%;
    background-color: rgb(42, 52, 70);
    position: fixed;
    left: 10%;
    top: 10%;
    padding: 20px;
    /* z-index: 5; */
}
