body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

.watch {
    background-color: lime;
    position: relative;
    width: 410px;
    height: 410px;
    border-radius: 50%;
    margin: 10px;
}

.watch img {
    width: 400px;
    margin: 0;
    position: absolute;
    left: 5px;
    top: 5px;
}
