/* Andrey Shevchenko. FEA-23. Home work 7 */

* {
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    background-color: rgb(255, 159, 175);
    padding: 10px;
    /* margin: 0; */
}

.allWindow {
    margin: 0px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    height: calc(100vh - 190px);
    /* max-height: calc(100vh - 180px); */
    min-width: 600px;
    /* border: 2px solid green; */
}

.allwindow :nth-child(n) {
    margin: 50px;
}

.chatPlusNick {
    display: flex;
    flex-grow: 1;
}

/* .chatPlusNick div:nth-child(-n + 2) {
    margin: 5px;
    border: 1px solid rgb(137, 0, 0);
    color: rgb(137, 0, 0);
} */

.chatClass {
    background-color: rgb(255, 190, 200);
    flex-grow: 1;
    overflow: auto;
    max-height: calc(100vh - 250px);
    margin: 5px;
    border: 1px solid rgb(137, 0, 0);
    color: rgb(137, 0, 0);
    line-height: 1.5;
}

.chatClass img {
    width: 25px;
}

.nicksPresent {
    background-color: rgb(255, 190, 200);
    min-width: 300px;
    overflow: auto;
    max-height: calc(100vh - 250px);
    margin: 5px;
    border: 1px solid rgb(137, 0, 0);
    color: rgb(137, 0, 0);
}

.nickName {
    font-weight: 700;
    min-width: 80px;
}

.controlPanel {
    display: flex;
    align-items: baseline;
    width: calc(100vw - 370px);
}

.controlPanel :nth-child(n) {
    margin: 5px;
    color: rgb(137, 0, 0);
    height: 30px;
}

.nickValueClass {
    width: 150px;
    /* height: 30px; */
    text-align: left;
}

.msgClass {
    /* height: 30px; */
    flex-grow: 1;
}

.sendBtn {
    min-width: 90px;
}

.smileArea {
    background-color: rgb(255, 190, 200);
    max-height: 125px;
    border: 1px solid rgb(137, 0, 0);
    overflow: auto;
    padding: 5px;
}

.smileArea img {
    width: 25px;
}

.nicksPresent,
.smile {
    cursor: pointer;
    line-height: 1.5;
    color: darkslategrey;
}
